body{
    background-color:#333;
    margin: 0;
    padding: 0;
    color: #ccc;
}
.inputSection{
    width: 100%;
}
.inputSection .container{
    width: 500px;
    margin: 250px auto 0 auto;
}
.inputSection .container .wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.inputSection .container .wrapper .selectBox form{
    display: flex;
}
.inputSection .container .wrapper .selectBox form select{
    box-sizing: border-box;
   border-color:transparent ;
   border-radius:  10px 0 0 10px ;
   background-color: #1672ab;
   color: #eee;
   height: 30px;
   padding-left: 10px;
   cursor: pointer;
}
.inputSection .container .wrapper .selectBox form select:focus{
    outline: 1px solid #ccc;
}
.inputSection .container .inputBox input{
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    border: 1px solid transparent;
    padding-left: 10px;
    background-color: #ddd;
    color: #444;
    /* font-weight: 500; */
}
#myInput:focus {
    outline: 5px solid #1672ab; 
    outline-offset: -1px;
}

#myInput:focus.invalid {
    outline: 1.5px solid rgb(205, 43, 43); 
}
#myInput:focus.valid {
    outline: 1px solid #05a005; 
}
/* Generate button */
.inputSection .container .wrapper #myBtn{
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color:#0c620c;
    color: #eee;
    border-color: transparent;
    border-radius:0 10px 10px 0;
    cursor: pointer;
}
.inputSection .container .wrapper #myBtn:hover{
   background-color: rgba(42, 173, 24, 0.586);
   transition: .5s;
}
/*  */
.inputSection .container .wrapper .resultLink{
    display: none;
}
.inputSection .container .wrapper .resultLink.active{
    display: block;
    border:1px solid #1672abb2;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-width: 600px;
    padding-right: 70px;
    position: relative;
    background-color: #282828;
}
.inputSection .container .wrapper .resultLink button{
    background-color: #1672ab;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px 3px;
    cursor: pointer;
    color: aliceblue;
    position: absolute;
    top:8px;
}
.inputSection .container .wrapper .resultLink button.copyBtn{
    right: 10px;
}
.inputSection .container .wrapper .resultLink button.linkBtn{
    right: 35px;
    background-color: #ab3116;
    
}
.inputSection .container .wrapper .resultLink button:hover{
    background-color: #cecb13;
    color: #EEE;
    transition-duration: .5s;
}
/* notificators */
#copyNotify{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: green;
    padding:5px 10px ;
    border-radius: 5px;
}
#copyNotify.active{
    display: block;
}
#errCopyNotify{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgb(113, 4, 4);
    padding:5px 10px ;
    border-radius: 5px;
}
#errCopyNotify.active{
    display: block;
}
